html,
body { height: 100%;
}
.parent {
height: 900px;
background-color: #F3F3F3;
display: flex;
align-items: center;
justify-content: center;
}
.child {
width: 400px;
height: 700px;
background-color: #fff;
border-radius: 15px;
display: flex;
justify-content: flex-end;
flex-flow: column;
}
.valueContainer {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
